# stage6 파이썬 기본과 데이터 조작

In [1]:
a = 3 # a를 변수라고 한다.

<h1>'함께실습$1' <h1>변수를 이용한 계산

In [4]:
a = 1
b = 2
c = -1231
d = -123.53323
print(a,b,c,d)

1 2 -1231 -123.53323

In [6]:
add = 123 + 321
print(add)

444

In [10]:
res = 3 + (2*5)
print(res)

13

In [11]:
res = res/3
print(res)

4.333333333333333

In [12]:
print(1 + 2 - 1231)

-1228

In [13]:
print(a + b + c)

-1228

<h1>'함께실습$2' <h1>변수를 이용한 문자열 사용

In [15]:
a = 'Hello World'
print(a)

b = '안녕 세상'
print(b)

Hello World
안녕 세상

In [16]:
a = 'Hi'
print(a)

Hi

In [17]:
b = a
print(b)

Hi

In [18]:
longName = '''여러줄에 걸쳐 글을 쓰려면?
크리스티아누
호날두
두스
산투스
아베이루'''
print(longName)

여러줄에 걸쳐 글을 쓰려면?
크리스티아누
호날두
두스
산투스
아베이루

<h1>'미션$1' <h1>변수 활용 퀴즈

In [19]:
# 1. 문자를 더하면?

a = 'my name is'
b = 'Django'
print(a+b)

my name isDjango

In [20]:
# 2. 문자형에 들어 있는 숫자끼리 더하면?

num1 = '1234'
num2 = '4321'
print(num1 + num2)

12344321

In [22]:
# 3. K는 어떤 값이 될까요?
K = 'P'
P = 123
print(K)

P

<h1>'함께실습$3' <h1>단순 if문

In [25]:
# if 문 연습

age = 25
if age > 19:
    print('성인입니다')
    
else:
    print('청소년입니다')

성인입니다

In [26]:
age = 15

# or도 사용가능합니다.

if age >= 14 and age <= 16:
    print('중학생 할인혜택이 적용됩니다.')
    
else:
    print('할인 대상자가 아닙니다')

중학생 할인혜택이 적용됩니다.

<h1>'함께실습$4' <h1>elif 사용하기

In [27]:
score = 85

if score >= 90:
    print('수')
elif score >= 80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
    print('양')
else:
    print('가')

우

<h1>'미션$2' <h1>elif, else를 안쓰고도 아래와 똑같은 결고가 나오도록 만들어보세요.

In [30]:
score = 40

if score >= 90:
    print('수')
if score >=80 and score<90:
    print('우')
if score >=70 and score<80:
    print('미')
if score >=60 and score<70:
    print('양')
if score<60:
    print('가')

가

<h1>'자율$1' <h1> 20살 이상은 80점 이상시 합격, 20살 미만은 70점 이상시 합격을, 나머지는 불합격을 출력하세요.

In [32]:
age = 25
score = 75

if age >= 20 and score >= 80:
    print('합격입니다!')
elif age < 20 and score >= 70:
    print('합격입니다!')
else:
    print('불합격입니다.')

불합격입니다.

<h1>'함께실습$5' <h1>list 기본

In [34]:
# 리스트 : 온갖 데이터를 순서대로 담아두는 표, []를 이용

myname = '이청용'
birth = 650101
addr = '서울시 마포구 공덕동'

person_info = [myname, birth, addr, '남자', 1100]

print(person_info[0])
print(person_info[1])
print(person_info[4])

이청용
650101
1100

<h1>'함께실습$6' <h1>dictionary 기본

In [36]:
# 딕셔너리 : 온갖 데이터를 필드 별로 담아두는 표, {}를 이용

myname = '이청용'
birth = 650101
addr = '서울시 마포구 공덕동'

user_info = {
    'name' : myname,
    'birth' : birth,
    'address' : addr,
    'gender': '남자',
    'point' : 1100
}

print(user_info['name'])
print(user_info['birth'])
print(user_info['point'])


# 리스트와 비슷하지만 key값이라고 하는 '' : 의 앞에 해당하는 값을 호출하면
# value라고 하는 '': 의 뒤에 해당하는 값이 출력된다.

이청용
650101
1100

In [ ]:
person_ifno2 = ['박지성', 810225, '맨체스터', '남자', 13000]
user_list = [person_info, person_info2, user_info]